body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-button {
    border-left: 4px solid green !important;
    padding-left: 1vh;
    background: transparent;
    border: 0px;
    opacity: 1;
    color: white;
    text-align: left;
    margin-top: 3vh;
}

button {
    opacity: 0;
}

#panel-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 90vh;
    width: 20vw;
}

/*#logout {
    position: absolute;
    top: 1vh;
    left: 1vh;
    opacity: 1;
    background: #1db954;
    border: 0px;
    color: white;
    font-size: 2vh;
    padding: 1vh;
    font-family: "Inter Variable", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}*/

.user-cont {
    border-top: white 3px;
    font-family: "Inter Variable", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-cont:last-child {
    border-bottom: white 3px;
}

.title {
    font-family: "Inter Variable", sans-serif;
    font-weight: 900;
    font-size: 4vh;
    margin-top: 7vh;
    margin-bottom: 4vh;
}

.small-title {
    font-family: "Inter Variable", sans-serif;
    font-weight: 900;
    font-size: 2.5vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.user-cont, .user-email {
    margin-left: 1vw;
}

.txt {
    font-family: "Inter Variable", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.user-edit {
    filter: invert(100%);
    height: 3vh;
    cursor: pointer;
}

.code-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-time {
    font-size: 1.3vh;
}

.panel-button.selected{
    border-left: 8px solid green !important;
    padding-left: 1.5vh;
}

.login-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-inner-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login-button {
  background: #1db954;
  border: 0px;
  color: white;
  font-size: 2vh;
  padding: 1vh;
  font-family: "Inter Variable", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  margin-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.login-label {
  display: none;
}
.login-input {
  background: #373737;
  border: 0px;
  margin-bottom: 3vh;
  height: 5vh;
  width: 50vw;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 2vh;
  padding-left: 1vw;
}

.manage-input {
    background: #373737;
    border: 0px;
    margin-bottom: 3vh;
    height: 5vh;
    width: 50vw;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 2vh;
    padding-left: 1vw;
}
.manage-button {
  background: #1db954;
  border: 0px;
  color: white;
  font-size: 2vh;
  padding: 1vh;
  font-family: "Inter Variable", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  margin-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.expiry-input{
    background: transparent;
    color: white;
    border: 0px;
    font-size: 2vh;
}

#top{
    padding-top: 5vh;
}

.storage-bar{
    height: 2vh;
    background: white;
}